<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>

                <div class="vertical-timeline-content">
                    <h4><a>You Move Like a Poem</a></h4>

                    <p>
                        <span>I'm the path that I've taken and the steps that I've made...
                        </span>
                        
                        </p>
                    <iframe width="512px" height="384px" src="https://www.yumpu.com/xx/embed/view/QPR5CT96M2sIcAWB" frameborder="0" allowfullscreen="true" allowtransparency="true"></iframe>
                </div>

                <div class="vertical-timeline-content">
                
                    <h4><a>Mix it up</a></h4>
                    <p>
						<span>DC#1: Exploring the combination of countries' personifications and their current leaders:
                            From left to right: Uncle Trump (Uncle Sam + Trump), Macronnie (Marianne + Macron), Putin Motherland (Motherland statue + Putin), Jade XI emperor (Jade emperor + Xi Jinpin), and Britheresannia (Britannia + Theresa).
                            note: These combinations don't stand for any political views and they are created for the purpose of course assignment.
                        </span>
                        </p>
                        <img src="../assets/images/remix.png"/>
                        <p>
                            <span>Original Source of images found online</span>
                        </p>
                        <img src="../assets/images/DC1Reference.png"/>
                        <p>
                            <span>Original sketches and ideas</span>
                        </p>
                        <img src="../assets/images/DC1Sketches.png"/>
                        <p>
                            <span>I originally wanted to do something around 5 countries in UN that have veto rights, and I thought it would be cool to mix the country's representing animals with the leaders. I also looked up the personalifications of each country and eventually combined those with the leaders.</span>
                        </p>


						<div>

						</div>
					</p>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Chibi Maruko-Totoro-chan, Detective Conan-Totoro, Pikachu-Totoro, Doraemon-Totoro</a></h4>
                    <p>
                        <span>These are 4 hybrids of Japanese animate characters with My Neighbor Totoro based on an illustation found online. </span>
                    </p>
                    <img src="../assets/images/MyNeighborTotoro_withReferences cropped.png"/>
                    <p>
                        <span>Original Source of illustration</span>
                    </p>
                    <a href ="http://m.jianbihua.com/photo/666"> <img src="../assets/images/OriginalMyNeighborTotoro.jpg"/> 
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>16 design principles illustrated</a></h4>
                    <p>
						<span>This is a course work required to design 16 illustrations that stand for 16 design concepts.</span>
                        </p>
                        <img src="../assets/images/16designs.png"/>

						<div>

						</div>
					</p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Good artist borrow, great artists steal</a></h4>
                    <p>
                        <span>It is a course work practicing illustator skill by using works found online and turn them into your own work.</span>
                    </p>
                    <img src="../assets/images/buffalotextchanged.png"/>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>An app prototype</a></h4>
                    <p>
						<span>This app prototype named BuffEvents won the CU-Incuvate hackathon's semi-finalist. </span>
						<div>
							<a href ="https://invis.io/ZMGE73SQSWJ#/285728357_Login"> <img src = "../assets/images/eventPage.png"/> </a>
						</div>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>