<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Projects</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>16 design principles illustrated</a></h4>
                    <p>
						<span>This is a course work required to design 16 illustrations that stand for 16 design concepts.</span>
                        </p>
                        <img src="../assets/images/16designs.png"/>

						<div>

						</div>
					</p>
                </div>
            </div>
            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>Good artist borrow, great artists steal</a></h4>
                    <p>
                        <span>It is a course work practicing illustator skill by using works found online and turn them into your own work.</span>
                    </p>
                    <img src="../assets/images/buffalotextchanged.png"/>
                </div>
            </div>
			<div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <h4><a>An app prototype</a></h4>
                    <p>
						<span>This app prototype named BuffEvent won the CU-Incuvate hackathon's semi-finalist. </span>
						<div>
							<a herf ="https://invis.io/ZMGE73SQSWJ#/285728357_Login"> <img src = "../assets/images/eventPage.png"/> </a>
						</div>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>